<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Thong Do</a>
            <button data-target="#item" class=" navbar-toggle" data-toggle="collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="item">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/addQues">Hỏi nhanh</a>
                </li>
                <li class="active">
                    <a href="/">Đáp gọn</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    
    <h1 class="text-center" id="text_question">{{question}}</h1>
    {{#if flag}}
        <div class="row text-center" id="btn_answer">
            <div class="col-md-6">
                <a href="/vote/{{id}}/0" id="no">
                    <button type="submit" class="btn btn-danger btn-lg" name="btn_yesno" value="no">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        Sai / Không / Trái
                    </button>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/vote/{{id}}/1" id="yes">
                    <button type="submit" class="btn btn-primary btn-lg" name="btn_yesno" value="yes">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        Đúng / Có / Phải
                    </button>
                </a>
            </div>
        </div>
    {{/if}}
    <div class="row text-center" id="btn_chuyen">
        {{#if flag}}
            <a href="/vote/{{id}}">
                <button id="result" type="submit" class="btn btn-default" name="btn_yesno" value="ketquavote">Kết quả vote</button>
            </a>
        
            {{!--
            <a href="/"> --}}
                <button type="submit" class="btn btn-default" name="btn_yesno" value="cauhoikhac" onclick="anotherQues()">Câu hỏi khác</button>
                {{!-- </a> --}}
            {{/if}}
    </div>
    <script>
    let question = null;
       $('#no').click(() => {
            if (question == null) {
                location.href = "/vote/{{id}}/0";
            }
            else {
                location.href = '/vote/' + question._id + '/0';
            }
        })
        $('#yes').click(() => {
            if (question == null) {
                location.href = "/vote/{{id}}/1";
            }
            else {
                location.href = '/vote/' + question._id + '/1';
            }
        })
        $('#result').click(() => {
            console.log('ok');
            if (question == null) {
                location.href = "/vote/{{id}}";
            }
            else {
                location.href = '/vote/' + question._id;
            }
        })
        function anotherQues() {
            $.ajax({
                url: '/',
                method: 'POST',
                success: (res) => {
                    $('#text_question').html(res.question.questionContent);
                    question = res.question;
                }
            });
        }
    </script> 
</div>